.header__lang-link {
    padding: 0;
    margin: 0;
    width: 30px;
    /* height: 28px;         */
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.15;
    text-align: left;
    text-decoration: none;
    color: white;
    /* margin-left: 18px; */

}

@media screen and (max-width: 767px) {
    .header__lang {        
        font-size: 18px;
        line-height: 1.11;
        width: 22px;
    }
}