.header__lang-link {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 28px;    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.15;
    text-align: left;
    text-decoration: none;
    color: white;

}