.place__title {
    /* border: 1px solid red; */    
    margin: 0;
    padding: 0;
    width: 49.1%;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;    
    text-align: left;
}

@media screen and (max-width: 1279px) {
    
}
@media screen and (max-width: 1023px) {
    .place__title {
        width: 48.5%;
        font-size: 42px;
        line-height: 1.1;         
        
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        width: calc(100% - 16px * 2);
        font-size: 32px;
        line-height: 1.09;
    }
}