.photo-grid {
    width: 100%;
    /* border: 2px solid yellow;         */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    gap: 16px;
    padding: 0;
    margin: 0 auto;
}


@media screen and (max-width: 1279px) {
    .photo-grid {                
        width: calc(100% - 48px * 2);  
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);      
        gap: 14px;
    }
}
@media screen and (max-width: 1023px) {
    .photo-grid {                
        width: calc(100% - 24px * 2);  
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);      
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {                
        width: calc(100% - 16px * 2);  
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);      
        gap: 12px;
    }
}