.places {
    width: calc(100% - 100px*2);
    /* border: 2px solid yellow; */
    box-sizing: border-box;
    padding: 85px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


@media screen and (max-width: 1024px) {
    .places {                
        width: calc(100% - 48px * 2);          
    }
}
@media screen and (max-width: 768px) {
    .places {                
        width: calc(100% - 24px * 2);       
        padding: 80px 0 0;

    }
}

@media screen and (max-width: 320px) {

}