.places {
    width: calc(100% - 100px*2);
    /* border: 2px solid yellow; */
    box-sizing: border-box;
    padding: 92px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}


@media screen and (max-width: 1279px) {
    .places {                
        width: calc(100% - 48px * 2);          
    }
}
@media screen and (max-width: 1023px) {
    .places {                
        width: calc(100% - 24px * 2);       
        /* padding-top: 80px; */
        

    }
}

@media screen and (max-width: 767px) {
    .places {                
        width: 100%;       
        /* padding-top: 80px; */
        

    }
}