.place__image {
    width: 46.6%;
    min-height: 46.6%;
    max-height: 46.6%;
    margin: 0;    
    padding: 0;
    object-fit: cover;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

/* width: 48.5%; */

@media screen and (max-width: 1023px) {
    .place__image {
        width: 47%;
        /* 46.9 */
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        width: 100%;
        /* 46.9 */
    }
}