.footer__menu {
    color: #fff;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;

}


@media screen and (max-width: 767px) {
    .footer__menu {        
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        margin-bottom: 48px;
        
    }
    
}

