.lead {
    margin: 0;
    padding: 52px 0 0;
    width: calc(100% - 100px*2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid green; */
}

@media screen and (max-width: 1024px) {
    .lead {
        width: calc(100% - 48px*2);
        padding: 50px 0 0;
    }
}
@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

}
