.main {
    width: calc(100% - 48px * 2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
    
}