.cover__subtitle {
    /* border: 1px solid yellow; */
    max-width: 360px;
    /* max-width: 66px; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    margin: 0;
    padding: 0;
}