.header {
    padding: 32px 0 0;
    margin: 0 auto 0;
    width: calc(100% - 48px * 2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



@media screen and (max-width: 1279px) {
    .header {
        padding-top: 30px;
    }
}
@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 24px * 2);
        /* padding-top: 32px; */
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: calc(100% - 16px * 2);
        padding-top: 16px;
    }
}


/* Основной код для разрешения 1024px */
/* @media screen and (min-width: 2560px) { */
    /* стили для больших мониторов с разрешением 4K */
/* } */
/* @media screen and (min-width: 1440px) { */
    /* стили для больших настольных компьютеров и ноутбуков */
/* } */