.header {
    padding: 32px 0 0;
    width: calc(100% - 48px * 2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



@media screen and (max-width: 1024px) {
    .header {
        padding: 30px 0 0;
    }
    

}
@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 24px * 2);
        /* padding: 30px 0 0; */
    }
}

@media screen and (max-width: 320px) {

}


/* Основной код для разрешения 1024px */
/* @media screen and (min-width: 2560px) { */
    /* стили для больших мониторов с разрешением 4K */
/* } */
/* @media screen and (min-width: 1440px) { */
    /* стили для больших настольных компьютеров и ноутбуков */
/* } */