.footer__link {    
    text-decoration: none;
    color: #fff;
    margin: 0 18px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
}

.footer__link:hover {
    opacity: .7;
}


@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;        
    }
}