.lead__title {
    padding: 0;
    margin: 0;
    width: 720px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    border: 1px solid red;
}