.place__paragraph {
    margin: 0 0 16px;
    padding: 0;    
    /* border: 1px solid red; */
    box-sizing: border-box;    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    text-align: left;

}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;        
    }
}

@media screen and (max-width: 320px) {

}