.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: right; 
}

@media screen and (max-width: 767px) {
    .footer__copyright {        
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 1;
        
    }
    
}