.lead__image {    
    margin: 0;
    padding: 0;
    /* background-image: url(../../../images/lead-polka.jpg); */
    /* background-size: cover;     */
    object-fit: cover;
    object-position: center;
}