.intro {
    /* border: 2px solid yellow; */
    margin: 0;
    padding: 106px 0 80px;
    width: calc(100% - 124px * 2);
    min-height: 56.7%;
    max-height: 56.7%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

}

@media screen and (max-width: 1279px) {
    .intro {
        width: calc(100% - 48px * 2);
        padding: 90px 0 88px;
    }
}
@media screen and (max-width: 1023px) {
    .intro {
        width: calc(100% - 24px * 2);
        padding: 90px 0 82px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: calc(100% - 16px * 2);
        padding: 64px 0;
    }

}