.intro {
    /* border: 2px solid yellow; */
    margin: 0;
    padding: 96px 0 78px;
    width: calc(100% - 124px * 2);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

}

@media screen and (max-width: 1024px) {
    .intro {
        width: calc(100% - 48px * 2);
        padding: 80px 0 88px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 24px * 2);
        padding: 90px 0 82px;
    }
}

@media screen and (max-width: 320px) {

}