.lead__subtitle {    
    margin: 32px 0 64px;
    padding: 0;
    width: 640px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    border: 1px solid red;
}