.lead__subtitle {    
    margin: 32px 0 64px;
    padding: 0;
    max-width: 640px;    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {                
        margin: 30px 0 55px;
    }
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {

}