.lead__subtitle {    
    margin: 32px 0 64px;
    padding: 0;
    max-width: 640px;    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    /* border: 1px solid red; */
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {                
        margin: 30px 0 60px; 
    }
}
@media screen and (max-width: 1023px) {
    .lead__subtitle {            
        /* margin-top: 16px;    */
        margin-bottom: 56px;        
    }

}

@media screen and (max-width: 767px) {
    .lead__subtitle {    
        max-width: 288px; 
        margin-top: 16px;   
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        /* border: 1px solid red; */
    }
}