.place__bottom {
    margin: 0;
    padding: 0;
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


@media screen and (max-width: 767px) {
    .place__bottom {
        flex-direction: column;        
        align-items: center;
        
    }
}