.lead__img-wrap {
    /* border: 2px solid green; */
    max-width: 100%;
    height: auto;      
    /* max-height: 62.5%; */
    margin: 0;     
    padding: 0;   
    /* padding-bottom: 62.5%;     */
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
}
