.cover__background {
    width: 100%;
    height: auto;
    /* min-height: 100%; */
    /* min-height: 62.5%; */
    position: absolute;
    /* top: 0; */
    left: 0;
    /* right: 0; */
    bottom: 0;
    z-index: -2;
    object-fit: cover;
    object-position: center; 
    /* -16px; */
    display: block;
}