.lead__caption {
    margin: 8px 0 0;
    align-self: flex-start;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


@media screen and (max-width: 1279px) {
}


@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (max-width: 767px) {

}
