.place {
    width: 100%;
    max-height: 100%;
    /* border: 3px solid green; */
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 80px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
    .place {                
        padding: 0 0 82px;
    }
}
@media screen and (max-width: 768px) {
    .place {                
        padding: 0 0 60px;
    }
}

@media screen and (max-width: 320px) {

}