.place {
    width: 100%;
    /* max-height: 100%; */
    /* border: 3px solid green; */
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 80px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.place:last-of-type {
    padding-bottom: 92px;
}


@media screen and (max-width: 1279px) {
    .place {              
        padding-bottom: 82px;          
    }

    .place:last-of-type {
        padding-bottom: 80px;
    }
}
@media screen and (max-width: 1023px) {
    .place {                
        padding-bottom: 73px;
    }
    
    .place:last-of-type {
        padding-bottom: 80px;
    }
    
}

@media screen and (max-width: 767px) {
    .place {                
        padding-bottom: 64px;
    }
    
    .place:last-of-type {
        padding-bottom: 50px;
    }

}