.footer {
    margin: 0 auto 0;
    color: #fff;
    /* border: 2px solid red; */
    width: calc(100% - 48px * 2);    
    padding: 76px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 1279px) {
    .footer {        
        padding-top: 75px 0 24px;        
        width: calc(100% - 48px * 2);          
    }
}
@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 24px * 2);          
        padding-top: 75px;        
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 16px * 2);          
        padding-top: 64px;        
        flex-direction: column;
        align-items: flex-start;

    }
}