.place__url-heading {
    width: 100%;
    margin: 0 0 12px;
    padding: 0;
    color: #aaa;    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
}


