.place__description {
    /* border: 2px solid yellow; */
    box-sizing: border-box;
    width: 51.6%;
    /* calc(100% * 0.508); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 40px;
    padding: 0;
}