.header__lang-links {
    width: 78px;
    padding: 0;
    margin: 0;    
    list-style-type: none;
    color: white;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}