.header__lang-links {
    width: 78px;
    padding: 0;
    margin: 0;    
    list-style-type: none;
    color: white;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

@media screen and (max-width: 767px) {
    .header__lang {        
        font-size: 18px;
        line-height: 1.11;
        width: 62px;
    }
}
