.place__website {
    /* border: 2px solid yellow; */    
    width: 51.6%;
     /* calc(100% * 0.508);     */
    justify-self: flex-end;
    display: flex;        
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 0 40px;
    padding: 0;
    /* align-items: stretch; */
}


@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .place__website {        
    }
}

@media screen and (max-width: 320px) {

}