.place__top {
    /* border: 2px solid yellow; */
    margin: 0 0 48px;
    padding: 0;
    width: 100%;
    min-height: auto; 
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start;
    align-items: flex-start; */
}