.place__top {
    /* border: 2px solid yellow; */
    margin: 0 0 48px;
    padding: 0;
    width: 100%;
    min-height: auto; 
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start;
    align-items: flex-start; */
}


@media screen and (max-width: 767px) {
    .place__top {
        width: calc(100% - 16px * 2);
        flex-direction: column;
        align-items: center;
    }
}

